.root {
    -fx-font-family: "Arial";
}

.background-image {
    -fx-background-image: url("/vidhansoudha.jpg"); /* Adjust the path to your background image */
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-opacity: 0.9; /* Adjust the opacity as needed */
}

.logo-container {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 20px;
}

.text-field {
    -fx-background-color: #f5f5f5;
    -fx-pref-width: 250px;
    -fx-pref-height: 35px;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #355445;
    -fx-text-fill: white;
    -fx-pref-width: 250px;
    -fx-pref-height: 35px;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}

.label {
    -fx-text-fill: #ff0000;
}

/* ... Other CSS styles ... */

#mainBox {
    -fx-background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}

#loginBox {
    -fx-padding: 20px;
    -fx-border-color: #355445;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}

/* ... Other CSS styles ... */


#welcomeLabel {
    -fx-font-size: 24px;
    -fx-text-fill: #355445;
}

#testUsernameLabel,
#testPasswordLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #355445;
    -fx-font-weight: bold;
    -fx-min-width: 80px; /* Adjust the width as needed */
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 0 10px 0 0;
}

#inputField {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}

#inputField:focused {
    -fx-border-color: #355445;
    -fx-border-width: 1px;
}

#errorLabel {
    -fx-font-size: 12px;
    -fx-text-fill: #ff0000;
}

.spacer {
    -fx-pref-height: 20px; /* Adjust the height of the spacer as needed */
}

.copyright-label {
    -fx-font-size: 12px;
    -fx-text-fill: #6B6B6B;
    -fx-alignment: CENTER;
    -fx-padding: 10px 0;
}
