.root {
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-size: 14;
    -fx-background-color: #222222;
    -fx-text-base-color: white;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 8 12;
}

.button:hover {
    -fx-background-color: #45a049;
    -fx-cursor: hand;
}

.list-view {
    -fx-background-color: #333333;
    -fx-border-color: #777777;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-pref-height: 200;
}

.list-view .list-cell {
    -fx-padding: 5;
}

.list-view .list-cell:selected {
    -fx-background-color: #1d1b22;
}

.text-field {
    -fx-background-color: #7c7b7f;
    -fx-border-color: #7c7b7f;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.navigation-bar {
    -fx-background-color: #333;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.0, 2, 2);
}

.navigation-label {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 1);
}

.navigation-bar .button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-border-radius: 5;
    -fx-padding: 6 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.0, 1, 1);
}

.navigation-bar .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
}

.navigation-bar .button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

.section-label {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.section-label-long {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.section-label-small {
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
